#todo-container{

}

ul {
  width: 400px;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
input {
  border-radius: 3px;
  border: solid 2px lightblue;
  font-size: 20px;
  height: 45px;
  padding-left: 3px;
  &[type=text] {
    width: 70%;
  }
  &:focus {
    border: solid 2px darkblue;
  }
}

.new-todo-box {
  margin-top: 15px;
}
.save-box {
  position: relative;
  background-color: green;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
  &:before, &:after {
    content: '';
    background: white;
    display: block;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 7px;
    width: 15px;
  }
  &:before {
    top: 16px;
    transform: rotate(45deg);
    width: 10px;
  }
  &:after {
    top: 15px;
    left: 13px;
    transform: rotate(-45deg);
  }
}
.delete-box {
  position: relative;
  background-color: red;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
  &:before, &:after {
    content: '';
    background: white;
    display: block;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 7px;
    width: 15px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.add-box {
  background-color: darkblue;
}
.delete-multi-box {
  background-color: red;
}
.delete-multi-box, .add-box {
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}
