@import '../../scss/variables';
#todo-container{
  height: 100vh;
  position: relative;
}
h2 {
  text-align: center
}

ul {
  height: calc(100vh - 38px - 38px - 28px - 19.920px - 19.920px);
  overflow-y: scroll;
  margin: 0;
  padding: 5px;
  width: 100%;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin: 5px 0;
}
input {
  // border-radius: 3px;
  border: solid 2px lightblue;
  font-size: 20px;
  height: 51px;
  padding-left: 3px;
  &[type=text] {
    width: 80%;
  }
  &:focus {
    border: solid 2px darkblue;
  }
}

.new-todo-box {
  margin-top: 15px;
}


.action-box {
  align-items: center;
  color: white;
  display: flex;
  height: 51px;
  justify-content: center;
  position: relative;
  width: 30px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $red;
  }
  &.grey {
    background-color: $grey;
  }
}

.filters-container, .global-action-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filters-container{
  bottom: 0;
  position: fixed;
  width: 100vw;
  .filter-box{
    color: white;
    flex: 1;
    padding: 10px 3px;
    text-align: center;
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
    &.green {
      background-color: $green;
    }
    &.red {
      background-color: $red;
    }
    &.grey {
      background-color: $grey;
    }
  }
}

.delete-multi-container {
  background-color: $red;
  bottom: 0;
  color: white;
  padding: 10px 3px;
  position: fixed;
  text-align: center;
  width: 100vw;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

// big contollers
.add-box {
  background-color: $blue;
}
.delete-multi-box {
  background-color: $red;
}
.delete-multi-box, .add-box {
  color: white;
  padding: 10px 3px;
  flex: 1;
  text-align: center;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}
