<div id="todo-container">
  <h2>{{ pageTitle }}</h2>
  <div (click)="addElement()" class="add-box">Add Todo</div>
  <div (click)="deleteMulti()" class="delete-multi-box">Delete Multi</div>
  <ul>
    <li *ngFor="let todo of todos; index as i">
      <input type="checkbox" [(ngModel)]="todo.selected">
      <input [(ngModel)]="todo.name" placeholder="Do stuff.." type="text"/>
      <div (click)="saveElement(todo, i)" class="save-box"></div>
      <div *ngIf="todo._id" (click)="deleteElement(todo._id, i)" class="delete-box"></div>
    </li>
  </ul>



  <!-- <div (click)="addElement()" class="add-box">Add Todo</div>
  <div class="new-todo-box">
    <input [(ngModel)]="newTodo.name" placeholder="Do stuff.." type="text"/>
    <div (click)="addElement()" class="add-box">Add Todo</div>
  </div>
  <hr/>
  <div (click)="deleteMulti()" class="delete-multi-box">Delete Multi</div>
  <ul>
    <li *ngFor="let todo of todos; index as i">
      <input type="checkbox" [(ngModel)]="todo.selected">
      <input [(ngModel)]="todo.name" placeholder="Do stuff.." type="text" disabled/>
      <div (click)="deleteElement(i)" class="delete-box"></div>
    </li>
  </ul>-->
</div>
